<!-- views/partials/reviews-form.handlebars -->

    <fieldset>
        <legend>Edit Comment</legend>
        <!-- TITLE -->
        <p>
            <label for="comment-title">Title</label><br>
            <input id="comment-title" type="text" name="title" value="{{comment.title}}" />
        </p>

        <!-- content -->
        <p>
            <label for="content">content</label><br>
            <input id="content" type="text" name="content" value="{{comment.content}}" />
        </p>

    </fieldset>
