<!-- views/partials/reply-form.handlebars -->

<form>
    <fieldset>
        <legend>Reply</legend>
        <!-- TITLE -->
        <div class="form-group">
            {{!-- <label for="reply-title">Title</label><br> --}}
            <input class="form-control" id="reply-title" type="text" name="reply" placeholder="reply" />
        </div>

    <!-- BUTTON -->
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Reply</button>
    </div>
</form>