    body {
        background: #555;
    }
    
    .content {
        max-width: 1200px;
        margin: auto;
        background: white;
        padding: 10px;
    }
    .water {
        fill: #64beff;
    }

    .border {
        stroke: #707070;
        stroke-width: 1.0;
        stroke-opacity: 0.5;
    }

    .country {
        fill: #ffff80;
    }

    .country:hover {
        fill: green;
    }

    .light-water {
        fill: #beedff;
    }

    .disputed {
        fill: #808080;
    }

   .svgMap {
       display: flex;
       justify-content: center;
   }

   #countryLabel {
       float: right;
   }
/* Tooltip */

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* bottom: 100%;
    left: 50%;
    margin-left: -60px; */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}