<!-- views/comments-new.handlebars -->

<form method="POST" action="/comments">
    {{> comments-form }}

    <!-- BUTTON -->
    <p>
        <button type="submit">Save Comment</button>
    </p>

</form>